services:
  mongo:
    image: mongo:latest
    container_name: mongodb_container
    ports:
      - "${MONGODB_PORT:-27017}:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: "${MONGODB_USERNAME:-user}"
      MONGO_INITDB_ROOT_PASSWORD: "${MONGODB_PASSWORD:-password}"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
    driver: local
